

<div class="modal" id="cropperModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ваше фото</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="userphoto">
                    <div class="gravatar-wrapper-128">
                        <img src="~/img/photo-camera.svg" alt="Oil image" id="imageEdited" height="400" />
                    </div>
                </div>
                <button type="button" class="btn btn-danger mt-3" id="rotateImage">Повернути</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-primary" id="cropedImage" data-dismiss="modal">Обрати фото</button>
            </div>
        </div>
    </div>
</div>
