@model OilShop.Models.Oil.ReplaceOilViewModel

@{
    ViewData["Title"] = "Update";
}
@section Styles {
    <link href="~/lib/cropperjs/cropper.min.css" rel="stylesheet" />
}
<h1>Update</h1>

<h4>ReplaceOilViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="data">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="invisible" />
                <img class="cursor-pointer" src=@Model.Image alt=@Model.Name width="200" id="oilImage" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Count" class="control-label"></label>
                <input asp-for="Count" class="form-control" />
                <span asp-validation-for="Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="index">Back to List</a>
</div>


<div class="modal" id="copperModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Ваше фото</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="userphoto">
                    <div class="gravatar-wrapper-128">
                        <img src="~/img/photo-camera.svg" alt="Oil image" id="imageEdited" height="400" />
                    </div>
                </div>
                <button type="button" class="btn btn-danger mt-3" id="rotateImage">Повернути</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Скасувати</button>
                <button type="button" class="btn btn-primary" id="cropedImage" data-dismiss="modal">Обрати фото</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/cropperjs/cropper.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.custom-select').select2();
        });
    </script>
    <script>
        $(function () {
            var userImage = $("#oilImage");
            var uploader;
            var cropper = null;
            userImage.on("click", function () {
                if (cropper == null) {
                    //Запуск пропера
                    const imageEdited = document.getElementById("imageEdited");
                    cropper = new Cropper(imageEdited, {
                        aspectRatio: 1 / 1,
                        viewMode: 1,
                        autoCropArea: 1,
                        rotatable: true
                    });
                    //обрізаємо фото
                    $("#cropedImage").on("click", function (e) {
                        e.preventDefault();
                        var imgContent = cropper.getCroppedCanvas().toDataURL();
                        userImage.attr("src", imgContent);
                        $("#Image").val(imgContent);
                        $('#copperModal').modal('hide');
                    });
                    //обертаємо фото
                    $("#rotateImage").on("click", function (e) {
                        e.preventDefault();
                        cropper.rotate(90);
                    });
                }
                if (uploader) {
                    uploader.remove();
                }
                uploader = $('<input type="file" accept="image/*" />');
                uploader.click();
                uploader.on('change', function () {
                    var reader = new FileReader();
                    reader.onload = function (event) {
                        //Фото яке ви обрали
                        var imageSelect = event.target.result;
                        //$("#imageEdited").attr("src", imageSelect);
                        cropper.replace(imageSelect); //Кропер міняє зображення на яке вказує
                        $('#copperModal').modal('show');
                    }
                    reader.readAsDataURL(uploader[0].files[0]);

                });
            });
        });
    </script>
}
